.about-page {
  padding: 20px;
  position: relative;
  background-image: url('../Images/background1.jpg'); 
  background-size: cover; 
  background-position: center; 
  height: 100vh;
}

.about-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.about-page * {
  position: relative;
  z-index: 2;
}

  h2{
    text-align: center;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
  }
  
  .image-placeholder {
    width: 150px; /* Increased size */
    height: 150px; /* Increased size */
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px; 
  }
  
  .text-box {
    flex-grow: 1;
    width: 100%; /* Ensure it takes up available width */
    height: 150px; /* Match height with image for a square shape */
    background-color: black;
    display: flex;
    font-size: 16px; 
    padding: 10px;
    border: 1px solid white;
  }
  
  .education-section {
    margin-bottom: 20px;
  }
  
  .education-details {
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    padding:  0;
  }

  .education-column{
    flex: 1;
    padding: 10px;
    border-left: 1px solid white;
    background-color: black;
  }

  .education-column:first-child{
    border-left: none;
  }
  
  .tools-section {
    margin-top: 20px;
  }
  
  .tools-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: black;
  }
  
  .tool-item {
    display: flex;
    align-items: stretch; /* Ensure items stretch to the same height */
    border: 1px solid white;
    padding: 0; /* Remove padding */
  }
  
  .tool-title {
    font-weight: bold;
    padding: 10px;
    border-right: 1px solid white;
    display: flex;
    align-items: center; /* Center the content vertically */
  }
  
  .tools-symbols {
    flex: 9;
    padding: 10px;
    display: flex;
    align-items: center; /* Center the content vertically */
  }

  .icon{
    margin-right: 10px;
  }