.category-page{
  background: url('../Images/background1.png') center/cover no-repeat;
  color: white;
  height: 100vh;
  z-index: -2;
  overflow: hidden;
  position: relative;
}

.category-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1;
}

.category-page > h1 {
    padding: 20px;
    text-align: center;
 }

 
  
  .category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px;
  }
  
  .category-box {
    border: 1px solid #ccc;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
    margin-left: 4px;
    margin-right: 4px;
  }
  
  .category-info {
    flex: 1; 
  }
  
  .category-info h2 {
    margin-top: 0;
  }
  
  .category-info p {
    margin: 5px 0;
  }
  
  .category-info a {
    color: #007bff;
    text-decoration: none;
  }
  
  .category-info a:hover {
    text-decoration: underline;
  }
  
  .category-image {
  flex: auto; 
  width: 100px; 
  height: 250px; 
  margin-left: 20px; 
  }
  
  
  .category-image img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .created-with-container {
    display: flex;
    align-items: center;
    border: 1px solid rgb(255, 253, 253);
    padding: 10px;
    margin-top: 10px;
  }
  
  .created-with-text {
    padding-right: 5px;
  }
  
  .icons {
    display: flex;
    gap: 10px;
  }
  
  .icon {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  