.contact-page {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.contact-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../Images/background2.png') center/cover no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  background-blend-mode: overlay;
}

.contact-container {
  width: 70%;
  margin-top: 50px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  margin-bottom: 2%;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.contact-info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-info {
  flex: 1;
}

.contact-info p {
  margin: 5px 0;
}

.social-media {
  display: flex;
  gap: 15px;
  align-items: center;
}

.social-media a {
  color: #000; /* Default color for all icons */
  font-size: 24px; /* Adjust icon size */
  transition: color 0.3s; /* Smooth color transition */
}

.social-media .youtube-icon {
  color: #000; /* Default color for YouTube icon */
}

.social-media .youtube-icon:hover {
  color: #ff0000; 
}

.social-media .github-icon:hover {
  color: black; 
}

/* CSS for other social media icons */
.social-media a:hover {
  color: #0077B5; /* Default hover color for other icons */
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

textarea {
  height: 100px;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 30%;
  align-self: center;
  margin: 10px auto;
}

button:hover {
  background-color: #218838;
}

.success-message {
  color: #28a745;
  font-weight: bold;
}

.error-message {
  color: #dc3545;
}

hr.custom-line {
  border: 0;
  height: 1px; 
  background: #333; 
  width: 100%;
  margin: 20px auto; 
}
