html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.error-page {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
    overflow: hidden;
    z-index: -1;
  }
  
  
  