.homepage-container {
  background-color: black;
  overflow: hidden;
}

.game-item {
  margin-bottom: 80px;
  width: 100%;
  height: 950px;
  overflow: hidden;
  opacity: 0.5;
  pointer-events: auto;
}

.game-item img{
  max-height: 100%;
  width: 100%;
}

.game-item:hover{
  opacity: 1;
}

@media only screen and (max-width: 768px){
  .homepage-container{
    height:auto;
  }

  .game-item{
    height: 35vh;
  }
}

