.homepage-container{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}


.home-container {
  width: 50%; /* Set the desired width */
  text-align: center; /* Centers the text inside the div */
}


.splash-screen{
    max-width: 50%; /* Ensures the image does not exceed the container's width */
    max-height: 50%; /* Ensures the image does not exceed the container's height */
    object-fit: contain;
    padding-bottom: 5px;
}

