.project-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 20px;
  padding: 20px;
  grid-template-areas: 
    "field field"
    "gaming web"
    "film writing";
}

.field {
  border: 2px solid #ddd; 
  border-radius: 8px; 
  background-color: #f9f9f9; 
  padding: 10px; 
  margin: 0; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  grid-area: field; /* Place the field in the defined grid area */
  width: 600px; 
  height: 100px; 
  align-self: center; 
  justify-self: center; 
  text-align: center; 
  
}

.field h1 {
  font-size: 1em; 
  margin-bottom: 10px;
  color: #333;
}

.field p {
  font-size: 0.8em; 
  margin: 0;
  color: #666; 
}
  
  .category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px; 
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    overflow: hidden; /* Ensure the overlay stays within the category */
    
  }
  
  .category::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1; /* Ensure the overlay is below the text */
  }
  
  
  .category h2, .category h3{
    text-align: center;
    margin-bottom: 20px;
    color: white;  
    z-index: 2;
    position: relative;
  }


  .gaming {
    background-image: url('../Images/gaming.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .web {
    background-image: url('../Images/web.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .film {
    background-image: url('../Images/film.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .writing {
    background-image: url('../Images/writing.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }