/* global styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.app-wrapper {
    display: flex;
}

.main-content {
    color: white;
}

/* global styles for desktop devices */
@media only screen and (min-width: 768px){
    .app-wrapper{
        flex-direction: column;
    }

    .main-content{
        flex: 1;  /* fill out remaining space */
    }
}